<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="MetaDataEditor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="MetaDataEditor.Defaults" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="MetaDataEditor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <MetaDataEditor.Properties.Settings>
            <setting name="MetaMeta" serializeAs="String">
                <value>..\\..\\..\\Data\\MetaMeta.xml</value>
            </setting>
            <setting name="LastMetaData" serializeAs="String">
                <value />
            </setting>
        </MetaDataEditor.Properties.Settings>
        <MetaDataEditor.Defaults>
            <setting name="MetaMetaLocation" serializeAs="String">
                <value>..\\..\\..\\Data\\MetaMeta.xml</value>
            </setting>
        </MetaDataEditor.Defaults>
    </userSettings>
<applicationSettings>
        <MetaDataEditor.Properties.Settings>
            <setting name="ConnectionString" serializeAs="String">
                <value>mongodb+srv://&lt;userName&gt;:&lt;password&gt;@cluster0-1a1jl.mongodb.net/test?retryWrites=true&amp;w=majority</value>
            </setting>
        </MetaDataEditor.Properties.Settings>
    </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.InteropServices.RuntimeInformation" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>